<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>Faculty</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
      <!--<a href="index.html" class="navbar-brand"> --><img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="width: 32px; height: 32px; margin-right: 8px;">SMS
      <!-- <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>   -->
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a href="facultyhome.html" class="nav-link active">Home</a>
          </li>
          <li class="nav-item px-2">
            <a href="faculty_serviceshistory.html" class="nav-link">My Services History</a>
         
          <li class="nav-item px-2">
            <a href="faculty_complaints.html" class="nav-link">Complaints</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="profile.html" class="nav-link">
                <i class="fas fa-user-circle"></i> Profile
             </a>
           </li>
          <li class="nav-item">
            <a href="login.html" class="nav-link">
              <i class="fas fa-user-times"></i> Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<header id="main-header" class="py-2 bg-primary text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>
            <i class="fas fa"></i>Faculty Services</h2>
        </div>
      </div>
    </div>
  </header>
  
  <!-- ACTIONS--> 
  
  <section id="actions" class="py-4 mb-4 bg- <!-- light--> ">
    <div class="container">
      <div class="row">
        <h2  style="text-align:center;"> <!-- Faculty --> </h2>
        
      </div>
    </div>
  </section>
  
    <div class="container">
      <div class="row">
        <div class="col-3">
            
          <a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Home_font_awesome.svg"style="width:60%;height:70%"></a>
          <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addhomeModal">
              <i class="fas fa-"></i>House keeping
            </a>
         </div>
        <div class="col-3">
          <a href=""> <img src="https://library.kissclipart.com/20180905/ksq/kissclipart-cooking-icon-png-clipart-cooking-restaurant-food-a79578bcc03e22dd.jpg" style="width:60%;height:70%"></a>
          <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addcookModal">
              <i class="fas fa-"></i>Cooking
            </a>
        </div>
        <div class="col-3">
          <a href=""> <img src="https://taxiairport.ca/wp-content/uploads/2018/03/LIMO-ICON.png" style="width:60%;height:70% "></a>   
          <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addcabModal">
              <i class="fas fa-"></i>Book cab
            </a>
         </div>
        <div class="col-3">
          <a href=""> <img src="https://maxcdn.icons8.com/Share/icon/Household/front_gate_open_filled1600.png" style="width:60%;height:70%"></a>
          <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#adddoorModal">
              <i class="fas fa-"></i>Notify gate
            </a>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-3">
          <a href=""> <img src="https://png2.kisspng.com/sh/7351f6bc8b17b4857ab877da51fd3e62/L0KzQYm3UsI1N5J6j5H0aYP2gLBuTfNtbZJzgdDwLXPvecG0ggJ1NZRxfdN3aX7qPcjokBhqdpgyhdNsaHnxdX68gckybmJqfNM9M3HoQnA6V8Y1OGI5SKMAMUm4QYW3WcM3P2M8RuJ3Zx==/kisspng-cleaning-clip-art-cleaning-washing-machine-5a91f1eda43ae2.3764014015195140936727.png" style="width:60%;height:70%"></a>
          <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addclothesModal">
              <i class="fas fa-"></i>Laundry
            </a>
        </div>
        <div class="col-3">
          <a href=""> <img src="https://image.flaticon.com/icons/svg/135/135301.svg" style="width:60%;height:70%"></a>
          <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addshoppingModal">
              <i class="fas fa-"></i>groceries
            </a>
        </div>
       <!-- <div class="col-3">
            <a href=""> <img src="function hall.png" style="width:60%;height:70%"></a>
            <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addhallModal">
                <i class="fas fa-"></i>Book hall
              </a>
           </div>-->
        <div class="col-3">
          <a href=""> <img src="https://image.flaticon.com/icons/svg/45/45642.svg" style="width:60%;height:70%"></a>
          <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addambulanceModal">
              <i class="fas fa-"></i>First Aid
            </a>
              </div>
            
      </div>
    </div>
  </div>
  </div>   
  <!--1 ADD HOME MODAL -->
      <div class="modal fade" id="addhomeModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header bg-primary text-white">
                <h5 class="modal-title">HOUSE KEEPING</h5>
                <button class="close" data-dismiss="modal">
                  <span>&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                 <form method="post" action="{% url 'housekeeping' %}">
                  {% csrf_token %}
                      <div class="form-group">
                         <label for="date">Date</label>
                         <input type="date" name="Date" value="">
                      </div>
               
                      <div class="form-group">
                         <label for="tm">Time</label>
                         <input type="time" name="Time" value="">
                      </div>
                     <input type="submit" value="Submit" class="btn btn-primary btn-block" >
                 </form>
              </div>
             
            </div>
          </div>
        </div>
    <!--2 ADD COOK MODAL -->
<div class="modal fade" id="addcookModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">COOKING</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <form method="post" action="{% url 'cooking1' %}">
                  {% csrf_token %}
                      <div class="form-group">
                         <label for="date">Date</label>
                         <input type="date" name="Date" value="">
                      </div>
               
                      <div class="form-group">
                         <label for="tm">Time</label>
                         <input type="time" name="Time" value="">
                      </div>
                                  <input type="submit" value="Submit" class="btn btn-primary btn-block" >
                 </form>
         
        </div>
       
      </div>
    </div>
  </div>
  
<!--3 ADD CAB MODAL -->
<div class="modal fade" id="addcabModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">CAB</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'bookcab1' %}">
          {% csrf_token %}
            <div class="form-group">
            Pick up point<br>
              <input list="browsers" for="from_palce" name="from_palce" > 
	<datalist id="browsers">
	<option value="IIIT Campus">
	<option value="Boys Hostel">
	<option value="Girls Hostel">
	<option value="Tada">
	<option value="Sullurpeta">
	<option value="Chennai">
	</datalist>
	<div class="form-group">
              <input type="date" name="date" value="Date">
              <input type="time" name="time">
            </div>

            </div>
            
            <div class="form-group">
            Drop Point<br>
            <input list="browsers" for="to_palce" name="to_palce"> 
	<datalist id="browsers">
	<option value="IIIT Campus">
	<option value="Boys Hostel">
	<option value="Girls Hostel">
	<option value="Tada" >
	<option value="Sullurpeta">
	<option value="Chennai">
	</datalist>
             <!-- <select for="to_palce" name="to_palce">
 					 
		 <option value="IIIT CAMPUS" >IIIT Campus</option>
			 <option value="Boys Hostel" >Boys Hostel</option>
			 <option value="Girls Hostel" >Girls Hostel</option>
			 <option value="Tada" >Tada</option>
			<option value="Sullurpeta" >Sullurpeta</option>
			<option value="Chennai" >Chennai</option>
			 </select>-->
			 
              
            </div>
            <input type="submit" value="Submit" class="btn btn-primary btn-block" >
            
          </form>
        
        </div>
        
      </div>
    </div>
  </div>

      
<!--4 ADD DOOR MODAL -->
    <div class="modal fade" id="adddoorModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header bg-primary text-white">
              <h5 class="modal-title">NOTIFY GATE</h5>
              <button class="close" data-dismiss="modal">
                <span>&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form  method="post" action="{% url 'notifygates1' %}">
                 {% csrf_token %}
               <div class="form-group">
                  <label for="name_of_visitor">Name Of Visitor</label>
                  <input type="text" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="mobile_no_of_visior">Mobile no.</label>
                    <input type="text" name="mobno"class="form-control">
                   
                  </div>
                  
                <div class="form-group">
                  <label for="date_of_arrival">Date</label>
		<input type="date" name="date" value="Date">
                  <!--small class="form-text text-mute">no of trousers should be less than 20</small-->
                </div>
               
                  <input type="submit" value="Submit" class="btn btn-primary btn-block" >
            
              </form>
   
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-dismiss="modal">Submit</button>
            </div>
          </div>
        </div>
      </div>
    
<!--5 ADD CLOTHES MODAL -->
<div class="modal fade" id="addclothesModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">LAUNDRY</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  method="post" action="{% url 'laundry1' %}">
          {% csrf_token %}
          <div>
          	 <label for="date">DATE</label>
          	<input type="date" name="date" value="Date">
          	</div><div> <label for="time">TIME</label>
              <input type="time" name="time">
              </div>
             
              
                
                
                  
                <div class="form-group">
                  <label for="room_no">ROOM NO</label>
                  <input type="text" name="room_no" class="form-control">
                </div>
                <div class="form-group">
                    <label for="no_of_shirts">NUMBER OF SHIRTS</label>
                    <input type="number" name="shirts"class="form-control" min="1" max="20">
                    <small class="form-text text-mute">no of shirts should be less than 20</small>
                  </div>
                  
                <div class="form-group">
                  <label for="no_of_trousers">NUMBER OF TROUSERS</label>
                  <input type="number" name="trousers"class="form-control" min="1" max="20">
                  <small class="form-text text-mute">no of trousers should be less than 20</small>
                </div>
	<div class="form-group">
                  <label for="no_of_kurties">NUMBER OF Kurities</label>

                  <input type="number" name="kurties"class="form-control" min="1" max="20">
                  <small class="form-text text-mute">no of kuties should be less than 20</small>
                </div>
<div class="form-group">
                  <label for="no_of_salvars">NUMBER OF Salvars</label>

                  <input type="number" name="salvars"class="form-control" min="1" max="20">
                  <small class="form-text text-mute">no of trousers should be less than 20</small>
                </div>
<div class="form-group">
                  <label for="no_of_leggins">NUMBER OF leggins</label>

                  <input type="number" name="leggins"class="form-control" min="1" max="20">
                  <small class="form-text text-mute">no of trousers should be less than 20</small>
                </div>
               
                <div class="form-group">
                    <label for="other">OTHERS</label>
                    <input type="text" name="other"class="form-control" min="1" max="20">
                    

                  </div>
                  <input type="submit" value="Submit" class="btn btn-primary btn-block" >
            
          </form>
        </div>
        
      </div>
    </div>
  </div>

<!--6 ADD SHOPPING MODAL -->
<div class="modal fade" id="addshoppingModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">GROCERIES</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'groceries' %}">
                   
          {% csrf_token %}
            <div class="form-group">
              <label for="description">ITEMS</label>
              <input type="text" class="form-control" name="items">
              <small class="form-text text-mute">Max 5 kilograms is provided</small>
            </div>
            <div class="form-group">
              <label for="date">DATE</label>
          	<input type="date" name="date" value="Date" min="2018-12-10">
             
   
            </div>
            <div class="form-group">
              
              <small class="form-text text-mute">Service Timings : 9:00 Am - 6:00 Pm</small>
   
            </div>
                              <input type="submit" value="Submit" class="btn btn-primary btn-block" >
          </form>
        </div>
        
      </div>
    </div>
  </div>

<!--7 ADD AMBULANCE MODAL -->
<div class="modal fade" id="addambulanceModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">EMERGENCY</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <form  method="post" action="{% url 'medical1' %}">
          {% csrf_token %}
              
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea name="description" class="form-control"></textarea>
                </div>
                                  <input type="submit" value="Submit" class="btn btn-primary btn-block" >
              </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>

<!--8 ADD COMMENTS MODAL -->
<div class="modal fade" id="addhallModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Book Hall</h5>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
              <div class="form-group">
                  <label for="title">NAME</label>
                  <input type="text" class="form-control">
                </div>
                
                <div class="form-group">
                  <label for="image">PHONE NUMBER</label>
                  <input type="text" class="form-control">                  
                </div>
               
               <div class="form-group">
                         <label for="title">Date</label>
                         <input type="date" id="myDate" value="2018-11-03">
                      </div>
               
                      <div class="form-group">
                         <label for="title">Time</label>
                         <input type="time" id="myTime" value="11:15:00">
                      </div>
 
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
      <script>
function myFunction() {
    var x = document.getElementById("myDate").value;
    document.getElementById("demo").innerHTML = x;
}
</script>
<script>
function myFunction() {
    var x = document.getElementById("myTime").value;
    document.getElementById("demo").innerHTML = x;
}
</script>



      <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
  
    <script>
      // Get the current year for the copyright
      $('#year').text(new Date().getFullYear());
  
      CKEDITOR.replace('editor1');
    </script>
       
</body>
</html> 
